body {
  background-color: #111111;
}

.container {
  display: flex;
  align-content: center;
  width: 100%;
  height: auto;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 70%;
  min-height: 70%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
}

@media (max-width:764px) {
  .video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 80px;
  }
}
@media (max-width:576px) {
  .video {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 70%;
    min-height: 70%;
    width: 100px;
    height: auto;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 80px;
  }
}
/* social media icons */
.iconos {
  
  margin-top: 580px;
  top: 400px;
  display: flex;
  justify-content: center;
  /* width: 100%; */
}
@media(max-width: 764px){
  .iconos{
    margin-top: 580px;
    top: 400px;
    display: flex;
    justify-content: center;
    /* width: 100%; */
  }
}
@media(max-width: 576px){
  .iconos{
    margin-top: 580px;
    top: 400px;
    display: flex;
    justify-content: center;
    /* width: 100%; */
  }
}

body {
  background-color: #111111;
}

.img-1 {
  width: 50px;
}
@media (max-width:764px){
  .img-1{
    width: 40px;
  }
}
@media (max-width:576px ){
  .img-1{
    width: 30px;
  }
}
.social-networks {
  z-index: 20;
  display: flex;
  margin: 0;
  padding: 0 0px;
  font-size: 0;
  text-align: center;
}


.social-networks ul li {
  display: inline-block;
}
@media (max-width:576px ){
  .social-networks{
    display: flex;
    margin: 0;
    font-size: 0;
    text-align: center;
  }
}

.social-networks  li img {
  padding: 0 20px;
}