body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #111  ;
}
*,
*::after,
*::before{
  
}
.sect {
  width: 100%;
  min-height: 800px;
}


#sect1 {
  position: relative;
  overflow: hidden;
}

video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
